.mainArticle {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: flex-start;
}

.body {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

body {
    margin: 0px;
}

strong {
    font-weight: 500;
}
