* {
    font-family: "Inter";
}

p {
    font-weight: 300;
    margin-top: 0px;
    font-size: 18px;
    line-height: 30px;
}

.mainArticle {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: flex-start;
    padding-top: 70px;
}

.body {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

body {
    margin: 0px;
}

strong {
    font-weight: 500;
}

h1 {
    font-weight: 500;
    margin: 20px 0px;
    padding-top: 70px;
}

p {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 35px;
}

li {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 35px;
}

.sub {
    position: relative;
    top: 0.8ex;
    font-size: 75%;
}

.sup {
    position: relative;
    bottom: 0.9ex;
    font-size: 75%;
}
.background {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 20px;
    padding-bottom: 3px;
    margin: 25px 0px;

    position: relative;
    left: -25px;
    width: 100%;
}

img {
    align-self: center;
}

.nextLesson {
    background-color: white;
    border: none;
    text-decoration: underline;
    font-size: 18px;
    margin-top: 20px;
}

.graphEquation {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.graphEquation > * {
    margin: 20px 0px;
}

.graphEquation > p {
    font-size: 40px;
}

.equationSection {
    margin-bottom: 20px;
}

.mainButton {
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
}

.finalEquation {
    font-size: 20px;
    font-weight: 400;
}

.code {
    font-family: "Roboto Mono";
    font-size: 18px;
    color: #585858;
}

.code > strong {
    color: black;
}

table {
    width: 100%;
    margin-bottom: 30px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    background-color: rgb(250, 250, 250);
}
