.mainArticle {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding-top: 50px;
    align-items: flex-start;
}

.body {
    width: 100vw;
    display: flex;
    justify-content: center;
}

body {
    margin: 0px;
}
