* {
    font-family: "Inter";
}

h1 {
    font-weight: 500;
    margin: 20px 0px;
    padding-top: 70px;
}

p {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
}
